* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  font-size: 15px;
  height: 100vh;
}

/* NAVBAR STYLING */

.navbar {
  background-color: #00295d;
  overflow: hidden;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  height: 100px;
}

.navbar .tabs a {
  font-weight: bold;
  float: left;
  display: block;
  color: #fdfffd;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .tabs a:hover{
  color: #890d0d;
  font-weight: bold;
}

.menu-btn{
position: absolute;
color: #fff;
right: 30px;
top: 30px;
z-index: 2;
display: none;
}

.menu-btn:hover{
  opacity: 0.9;
}

.container .user_account ul li:last-child{
border: none;
margin-left: 10px;
}
.container .user_account ul li a i:hover{
border: none;
}


.navbar a.active {
  color: #890d0d;
}

.navbar .container{
display: flex;
justify-content: space-between;
align-items: center;
height: 60%;
width: 100%;
}

.navbar .container .logo{
  margin-right: 20px;
}

.navbar .container .tabs{
  display: flex;
  flex-direction: row;
  flex: 1;
height: 100%;
}

.navbar .container .tabs i{
  margin-left: 5px;
}

.navbar .container .tabs input[type="search"]{
  height: 70%;
  padding: 20px 30px;
  border-radius: 25px;
  border: none;
  width: 35%;
  margin: auto 10px;
}

.user_account .user{
list-style-type: none;
display: flex;
height: 100%;

}
.user_account .user li{
color: #fff;
border: 2px solid #fff;
margin-left: 10px;
}

.user_account .user li a{
  padding: 20px;
  text-decoration: none;
  color: #fff;
}
.user_account .user li a:hover{
color: #890d0d; 
border-color:  #890d0d;

}

/* BUTTON STYLING */
.btn{
  background-color: #890d0d;
  color: #fff;
  padding: 15px 10px;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn:hover{
  color: #890d0d;
  background-color: #fff;
  animation-name: myanim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
@keyframes myanim{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}


/* CONTAINER STYLING */
.container {
  max-width: 2200px;
  margin: 0px auto;
  padding: 0px 30px;
  width: 90%;
}


/* HERO STYLING */
.hero {
  width: 100%;
  background: url('./IMG/WHITE\ SHOE.jpg') no-repeat center center/cover;
  padding: 30px;
  height: 700px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.hero:hover{
  transform: scale(1.05); 
}

.hero .container:not(:hover) {
  transform: scale(1); 
}


.hero .container .content{
 word-spacing: 3px;
 font-weight: bold;
}

.hero .container .content input[type="search"]{
  height: 60px;
  border: none;
}

.hero .container .content button{

width: 200px;
padding: 20px;
cursor: pointer;

}

/* SECTION STYLING */
.section .container .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.card p {
  color: #777;
}

.section .container .cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.section .container .cards .card img {
  margin-bottom: 5px;
  width:300px;
  transition: transform 0.3s ease-in-out;

}

.section .container .cards .card img:hover{
  transform: scale(1.05)
}

.section .container .cards .card p.best {
  background-color: #890d0d;
  color: #fdfffd;
  padding: 10px 5px;
  text-align: center;
  margin-top: 10px;
  width: 40%;
  font-weight: bold;
  border: 2px #890d0d solid;
}


.price {
  display: flex;
  align-items: center;
}
.price .current_price {
  font-weight: bold;
  color: black;
  margin-right: 5px;
}

.price .old_price {
  text-decoration: line-through;
  color: #777;
}
p.name{
  font-size: 13px;
  color: #777;
  line-height: 1.1;
}


@media (max-width:900px) {

  .navbar {
    font-weight: bold;
    padding: 0px;
    width: 100%;
  }
  




  .navbar .container{
    height: 100%;
  }


  .navbar .container .tabs{
    position: absolute;
    background-color: #00295d;
    opacity: 0.9;
    border-right: 1px solid #002552;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    height: 100%;
    padding-top: 200px;
overflow: visible;
font-size: 30px;
transition: transform 0.5s ease-in-out;
transform: translateX(-500px);
  }

  .container .user_account ul{
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .container .user_account ul li{
   padding: 8px;
   font-weight: bold;
   font-size: 20px;
}

.container .user_account ul li:hover{
font-weight: bold;
}

.menu-btn{
  display:block;
  margin-right: 10px;

}
.navbar .container .tabs.show{
transform: translateX(-20px);
}
}
