* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  font-size: 15px;
}

/* NAVBAR STYLING */

.navbar {
  background-color: #00295d;
  overflow: hidden;
  font-weight: bold;
  padding: 15px;
}

.navbar .tabs a {
  float: left;
  display: block;
  color: #fdfffd;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .tabs a:hover{
  color: #890d0d;
}

.container .user_account ul li:last-child{
border: none;
margin-left: 10px;
}
.container .user_account ul li a i:hover{
border: none;
}


.navbar a.active {
  color: #890d0d;
}

.navbar .container{
display: flex;
justify-content: space-between;
align-items: center;
height: 60%;
width: 100%;
}

.navbar .container .logo{
  margin-right: 20px;
}

.navbar .container .tabs{
  display: flex;
  flex-direction: row;
  flex: 1;
height: 100%;
}

.navbar .container .tabs i{
  margin-left: 5px;
}

.navbar .container .tabs input[type="search"]{
  height: 90%;
  display: flex;
  padding: 20px 30px;
  border-radius: 25px;
  border: none;
  width: 35%;
  margin: auto 10px;

}

.user_account .user{
list-style-type: none;
display: flex;
height: 100%;

}
.user_account .user li{
color: #fff;
border: 2px solid #fff;
margin-left: 10px;
}

.user_account .user li a{
  padding: 20px;
  text-decoration: none;
  color: #fff;
}
.user_account .user li a:hover{
color: #890d0d; 
border-color:  #890d0d;

}

/* BUTTON STYLING */
.btn{
  background-color: #890d0d;
  color: #fff;
  padding: 15px 10px;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn:hover{
  color: #890d0d;
  background-color: #fff;
  animation-name: myanim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
@keyframes myanim{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}


/* CONTAINER STYLING */
.container {
  max-width: 2200px;
  margin: 0px auto;
  padding: 0px 30px;
  width: 90%;
}


/* HERO STYLING */
.hero {
  width: 100%;
  background-color: #f2f2f2;
  padding: 30px;
  height: 900px;
 
}

.hero .container {
  overflow: hidden;
  padding: 30px;
  margin-bottom: 10px;
  background: url('./IMG/WHITE\ SHOE.jpg') no-repeat center center/cover;
  height: 800px;
  width: 100%;
  display: flex;
float: left;
flex-direction: column;
justify-content: center;
transition: transform 0.3s ease;

}
.hero .container:hover{
  transform: scale(1.05); 
}

.hero .container:not(:hover) {
  transform: scale(1); 
}


.hero .container .content{
  height: 200px;
  width: 45%;
  background-color: white;
  color: #333;
  text-align: center;
  padding: 20px;
 word-spacing: 3px;
 font-weight: bold;
}


.hero .container button{
margin-top:50px;
margin-left: 15%;
width: 200px;
padding: 20px;
cursor: pointer;
}

/* SECTION STYLING */
.section .container .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.card p {
  color: #777;
}

.section .container .cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.section .container .cards .card img {
  margin-bottom: 5px;
  width:300px;
  transition: transform 0.3s ease-in-out;

}

.section .container .cards .card img:hover{
  transform: scale(1.05)
}

.section .container .cards .card p.best {
  background-color: #890d0d;
  color: #fdfffd;
  padding: 10px 5px;
  text-align: center;
  margin-top: 10px;
  width: 40%;
  font-weight: bold;
  border: 2px #890d0d solid;
}


.price {
  display: flex;
  align-items: center;
}
.price .current_price {
  font-weight: bold;
  color: black;
  margin-right: 5px;
}

.price .old_price {
  text-decoration: line-through;
  color: #777;
}
p.name{
  font-size: 13px;
  color: #777;
  line-height: 1.1;
}


@media (max-width:760px) {
  
}